@using WeTalk.Interfaces;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LangResource> Localizer
@using WeTalk.Web.ViewModels.Ad;
@model AdListAdd
@section HeadCss{
	<link href="~/css/plugins/datapicker/bootstrap-datetimepicker.css" rel="stylesheet" />
	<link href="@Url.Content("/css/plugins/switchery/switchery.css")" rel="Stylesheet" type="text/css" />
}
<script src="@Url.Content("/cckkeditor/ckeditor.js")"></script>
<script src="~/cckkeditor/translations/zh-cn.js"></script>

<style type="text/css">
	/*设定编辑框最小高度，要不只有一行*/
	.ck-editor__editable {
		min-height: 450px;
	}
</style>

<form asp-action="AdListAdd" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["标题备注"]</label>
								<div class="col-sm-8">
									<input asp-for="Title" type="text" class="form-control" placeholder="@Localizer["标题备注"]" />
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["图片上传"] </label>
								<div class="col-sm-8">
									<ul class="agile-list" style="padding: 10px 0;">
										<li class="info-element">
											<input name="input_Img" class="form-control" type="file" />
											@if ((Model.Img + "") != "")
											{
												<div class="agile-detail row">
													<div class="col-sm-6" style="padding-top: 7px;" id="div_img">
														<a href="@Model.Img" target="_blank"><img src="@Model.Img?width=200" width="150" class="img" /></a>
													</div>
													<div class="col-sm-6">
														<input type="checkbox" name="chk_file" value="1" class="pull-right checkbox" />@Localizer["删除文件"]
													</div>
												</div>
											}
										</li>
									</ul>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["链接"]</label>
								<div class="col-sm-8">
									<input asp-for="Url" type="text" class="form-control" placeholder="@Localizer["内链或外链"]" />
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["有效时间"]</label>
								<div class="col-sm-4">
									<input asp-for="Begintime" type="datetime" class="form-control datetimepicker" asp-format="{0:yyyy-MM-dd HH:mm:ss}" placeholder="@Localizer["有效起始时间"]" />
								</div>
								<div class="col-sm-4">
									<input asp-for="Endtime" type="datetime" class="form-control datetimepicker" asp-format="{0:yyyy-MM-dd HH:mm:ss}" placeholder="@Localizer["有效结束时间"]" />
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["排序"]</label>
								<div class="col-sm-8">
									<input asp-for="Sort" class="form-control" required type="number">
									<span class="help-block m-b-none"><i class="fa fa-info-circle"></i>@Localizer["排序字段从小到大排序"]</span>
									<span class="help-block m-b-none"><i class="fa fa-info-circle"></i>@Localizer["排序字段值相同的情况下,按最新时间发布的排最前面"]</span>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["广告说明"]</label>
								<div class="col-sm-8">
									<textarea asp-for="Intro" class="form-control" style="width:90%;height:500px;"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["创建时间"]</label>
								<div class="col-sm-8">
									@Model.Dtime
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["状态"]</label>
								<div class="col-sm-8">
									<select asp-for="Status" class="form-control">
										<option value="1">@Localizer["启用"]</option>
										<option value="0">@Localizer["不启用"]</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 ml-auto">
									<input asp-for="Adid" type="hidden" />
									<input asp-for="Type" type="hidden" />
									<button type="submit" class="btn btn-primary dictionaryadd dictionaryedit">@Localizer["保存信息"]</button>
								</div>
							</div>
						</div>

					</div>
				</div><!--end card-body-->
			</div><!--end card-->
		</div><!--end col-->
	</div><!--end row-->
</form>

@section Scripts{
	<!-- Required datatable js -->
	<script type="text/javascript" src="@Url.Content("/assets/js/jquery.easyui.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/js/plugins/datapicker/bootstrap-datetimepicker.min.js")"></script>
	<script src="@Url.Content("/js/plugins/switchery/switchery.js")"></script>

	<script>
		@Html.Raw(ViewBag.ScriptStr)
		var switchery = new Switchery($(".js-switch")[0], {
			color: '#1AB394'
		});
		$(document).ready(function () {
			$('.datetimepicker').datetimepicker({
				//language: 'zh-CN',//显示中文
				forceParse: true,
				format: 'yyyy-mm-dd hh:ii:ss',//显示格式
				initialDate: new Date().Format("yyyy-MM-dd hh:mm:ss"),
				autoclose: true,//选中自动关闭
				todayBtn: true,//显示今日按钮*/
				minuteStep: 1
			});
		});
		$(function () {
			//html编辑器
			setCkEditor();
			//$("#txtData").val(myEditor.getData());
			//myEditor.setData($("#txtData").val());
		});
		$("#Type").change(function () {
			if ($(this).val() == "1") {
				$("#div_team_type").show();
			} else {
				$("#div_team_type").hide();
			}
		})
		$("#Type").change();

	</script>
}
