@using WeTalk.Web.ViewModels.News;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@section HeadCss{
	<link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row" >
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="input-group">
					<span class="input-group-btn">
						<select class="form-control m-b" name="sel_send_status" id="sel_send_status">
							<option value="">@Localizer["发送方状态"]</option>
							<option value="-1">@Localizer["删除"]</option>
							<option value="1">@Localizer["启用"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<select class="form-control m-b" name="sel_acc_status" id="sel_acc_status">
							<option value="">@Localizer["接收方状态"]</option>
							<option value="-1">@Localizer["删除"]</option>
							<option value="1">@Localizer["启用"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
					</span>
					<span class="input-group-btn">
						<div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["创建起始时间"]" />
							<span class="input-group-addon">-</span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["创建结束时间"]" />
						</div>
					</span>
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
					</span>
				</div>
				<table id="table_view" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{

	<script src="@Url.Content("/assets/plugins/datapicker/bootstrap-datepicker.js")"></script>
	<script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

		var actionURL = "NoticeData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL,
                    idField: 'Messageid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
					toolbar: [{
                        id: 'add',
                        text: '@Localizer["添加"]',
                        iconCls: 'icon-add',
                        handler: function () {
                            mainGrid.add();
                        }
                    }, '-',{
                        id: 'del',
                        text: '@Localizer["删除"]',
						iconCls: 'icon-remove',
                        handler: function () {
							mainGrid.del();
                        }
                    }
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {
		                @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
							{ title: '选择', checkbox: true, field: 'id', width: 30, sortable: true },
							{ title: 'ID', field: true, field: 'Messageid', width: 50, sortable: true },
							{ title: '@Localizer["发送人"]', field: 'SendName', width: 100, sortable: true },
							{ title: '@Localizer["发送时间"]', field: 'Sendtime', width: 100, sortable: true },
							{ title: '@Localizer["发送方状态"]', field: 'SendStatus', width: 40, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 1:
                                            e = "@Localizer["启用"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
							{ title: '@Localizer["接收人"]', field: 'AccName', width: 100, sortable: true },
							{ title: '@Localizer["接收时间"]', field: 'Acctime', width: 100, sortable: true },
							{ title: '@Localizer["接收方状态"]', field: 'AccStatus', width: 40, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 1:
                                            e = "@Localizer["启用"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
							{ title: '@Localizer["是否已读"]', field: 'IsRead', width: 40, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 1:
                                            e = "<font color=green>@Localizer["已读"]</font>";
                                            break;
                                        case 0:
                                            e = "<font color=red>@Localizer["未读"]</font>";
                                            break;
                                    }
                                    if(row.SendUserid==0) e="全员";
                                    return e;
                                } 
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 60, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editrow(' + row.Messageid + ');"><i class="fas fa-edit text-info font-16"></i></a> ';
                                    e += '<a href="javascript:void(0);" onclick="mainGrid.delrow(' + row.Messageid + ')"><i class="fas fa-trash-alt text-danger font-16"></i></a>';
                                    return e;
                                }
                            }
                        ]]
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                        //alert('before refresh');
                    }
                });
            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    type: "@ViewBag.Type",
                    keys: $('#input_keys').val(),
                    send_status: $('#sel_send_status').val(),
                    acc_status: $('#sel_acc_status').val(),
                    recommend: $('#sel_recommend').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            add: function () {

                $('#win').window({
                    width: $(window).width() * 0.8,
                    height: $(window).height() * 0.8,
                    modal: true,
                    title: "@Localizer["添加短消息"]"
                });
                $('#win').html("<iframe id='if1' src='NoticeAdd'>");
                $('#win').window({
                    onResize: function () { //当面板关闭之前触发的事件
                        $("#win iframe").width($(this).width() - 15);
                        $("#win iframe").height($(this).height() - 15);
                    }
                });

                //PW.getWindow("MasterAdd?treeid=", '新增用户', 720, 438);
            },
            edit: function () {
                var rowdata = mainGrid.getSelected()
                if (rowdata) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改短消息"]"
                    });
                    $('#win').html("<iframe id='if1' src='NoticeAdd?Messageid=" + rowdata.Messageid + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            editrow: function (id) {
                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改短消息"]"
                    });
                    $('#win').html("<iframe id='if1' src='NoticeAdd?Messageid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            delrow: function (id) {
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (id > 0) {
                        $.get(actionURL + "?action=del&Messageids=" + id, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除短消息"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
            del: function () {
                var Messageids = "0";
                var rowdata = mainGrid.getSelections();
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (rowdata.length > 0) {
                        for (var i = 0; i < rowdata.length; i++) {
                            Messageids = Messageids + "," + rowdata[i].Messageid;
                        }
                        $.get(actionURL + "?action=del&Messageids=" + Messageids, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除短消息"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
			enableu: function () {
				var Messageids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						Messageids = Messageids + "," + rowdata[i].Messageid;
					}
					$.get(actionURL + "?action=enableu&Messageids=" + Messageids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({
							title: '@Localizer["启用短消息"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

			}, enablef: function () {
				var Messageids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						Messageids = Messageids + "," + rowdata[i].Messageid;
					}
					$.get(actionURL + "?action=enablef&Messageids=" + Messageids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({ title: '@Localizer["禁用短消息"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
	</script>
}
