@using WeTalk.Web.ViewModels.General;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer

@section HeadCss{
    <link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-btn" style="display:none;">
                        <select class="form-control m-b" name="account" id="sel_status">
							<option value="">@Localizer["状态"]</option>
							<option value="-1">@Localizer["已冻结"]</option>
							<option value="0">@Localizer["待审核"]</option>
							<option value="1">@Localizer["正常"]</option>
                        </select>
                    </span>
                    <span class="input-group-btn">
                        <input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
                    </span>
                    <span class="input-group-btn">
                        <div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["创建起始时间"]" />
							<span class="input-group-addon">-</span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["创建结束时间"]" />
                        </div>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
                    </span>
                </div>
                <table id="table_view" />
            </div>
        </div>
    </div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{

    <script src="@Url.Content("/assets/js/plugins/datapicker/bootstrap-datepicker.js")"></script>
    <script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        var actionURL = "KeysData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL + "?Sty=@ViewBag.Sty",
                    idField: 'Keysid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
                    toolbar: [{
						id: 'add',
                        text: '@Localizer["添加"]',
                        iconCls: 'icon-add',
                        handler: function () {
                            mainGrid.add();
                        }
                    }, '-', {
                        id: 'edit',
                        text: '@Localizer["修改"]',
                        iconCls: 'icon-edit',
                        handler: function () {
                            mainGrid.edit();
                        }
                    }, '-', {
                        id: 'del',
                        text: '@Localizer["删除"]',
                        iconCls: 'icon-remove',
                        handler: function () {
                            mainGrid.del();
                        }
                    }
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {
		                @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
                            { title: '@Localizer["选择"]', checkbox: true, field: 'id', width: 30, sortable: true },
                            { title: '@Localizer["标签"] ID', field: true, field: 'Keysid', width: 30, sortable: true },
                            {
                                title: '@Localizer["标签类型"]', field: 'Sty', width: 60, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 0:
                                            e = "@Localizer["关键词"]";
                                            break;
                                        case 1:
                                            e = "@Localizer["课程标签"]";
                                            break;
                                        case 2:
                                            e = "@Localizer["课节取消原因"]";
                                            break;
                                        case 3:
                                            e = "@Localizer["订单取消原因"]";
                                            break;
                                        case 4:
                                            e = "@Localizer["短视频标签"]";
                                            break;
                                        case 5:
                                            e = "@Localizer["录播课标签"]";
                                            break;
                                        case 6:
                                            e = "@Localizer["直播课标签"]";
                                            break;
                                        case 7:
                                            e = "@Localizer["线下课标签"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
                            { title: '@Localizer["图标字"]', field: 'IcoFont', width: 60, align: 'center', sortable: true },
                            { title: '@Localizer["标签"]', field: 'Title', width: 200, align: 'center', sortable: true },
                            { title: '@Localizer["排序"]', field: 'Sort', width: 100, sortable: true },
                            { title: '@Localizer["创建时间"]', field: 'Dtime', width: 120, sortable: true },
							{ title: '@Localizer["状态"]', field: 'Status', width: 60, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 0:
                                            e = "@Localizer["停用"]";
                                            break;
                                        case 1:
                                            e = "@Localizer["启用"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 100, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" class="edit " onclick="mainGrid.editrow(' + row.Keysid + ');">@Localizer["查看/修改"]</a> ';
                                    return e;
                                }
                            }

                        ]]
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                        //alert('before refresh');
                    }
                });

            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    keys: $('#input_keys').val(),
                    status: $('#sel_status').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            add: function () {
                $('#win').window({
                    width: $(window).width() * 0.9,
                    height: $(window).height() * 0.9,
                    modal: true,
                    title: "@Localizer["添加标签"]"
                });
                $('#win').html("<iframe id='if1' src='KeysAdd?Sty=@ViewBag.Sty'>");
                $('#win').window({
                    onResize: function () { //当面板关闭之前触发的事件
                        $("#win iframe").width($(this).width() - 15);
                        $("#win iframe").height($(this).height() - 15);
                    }
                });

                //PW.getWindow("KeysAdd?treeid=", '新增标签', 720, 438);
            },
            edit: function () {
                var rowdata = mainGrid.getSelected()
                if (rowdata) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改标签"]"
                    });
                    $('#win').html("<iframe id='if1' src='KeysAdd?Sty=@ViewBag.Sty&Keysid=" + rowdata.Keysid + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            editrow: function (id) {

                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改标签"]"
                    });
                    $('#win').html("<iframe id='if1' src='KeysAdd?Sty=@ViewBag.Sty&Keysid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            del: function () {
                var Keysids = "0";
                var rowdata = mainGrid.getSelections();
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (rowdata.length > 0) {
                        for (var i = 0; i < rowdata.length; i++) {
                            Keysids = Keysids + "," + rowdata[i].Keysid;
                        }
                        $.get(actionURL + "?action=del&Sty=@ViewBag.Sty&Keysids=" + Keysids, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
                            $.messager.show({ title: '@Localizer["删除标签"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
            enableu: function () {
                var row = mainGrid.getSelected()
                if (row) {
                    $.get(actionURL + "?action=enableu&Sty=@ViewBag.Sty&Keysid=" + row.Keysid, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
                        $.messager.show({ title: '@Localizer["启用标签"]' + row.username, msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

            }, enablef: function () {
                var row = mainGrid.getSelected()
                if (row) {
                    $.get(actionURL + "?action=enablef&Sty=@ViewBag.Sty&Keysid=" + row.Keysid, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
                        $.messager.show({ title: '@Localizer["禁用标签"]' + row.username, msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
    </script>
}
