@using WeTalk.Web.ViewModels.User;
@using WeTalk.Common.Helper;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@model UserCourseAdd
@section HeadCss{
    <link href="/assets/css/icon.css" rel="stylesheet" />
    <link href="/lib/layui-src/build/css/layui.css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/plugins/intlTelInput/intlTelInput.css">
	<style>
		.col-sm-8{padding-top:7px;}
	</style>
}
<form asp-action="UserCourseReadAdd">
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
						<div class="col-lg-12">
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@(Localizer["对应订单号"])</label>
								<div class="col-sm-8">
									@Model.OrderSn
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["学生手机"]</label>
								<div class="col-sm-8">
									@Model.MobileCode - @Model.Mobile
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["学生姓名"]</label>
								<div class="col-sm-8" id="div_name">
									@Model.Name
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["学生邮箱"]</label>
								<div class="col-sm-8" id="div_email">
									@Model.Email
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@(Localizer["拓课云课程名称"])</label>
								<div class="col-sm-8">
									@Model.MenkeName
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@(Localizer["网站课程名称"])</label>
								<div class="col-sm-8" id="div_course_name">
									@Model.Title
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@(Localizer["课程类型"])</label>
								<div class="col-sm-8" id="div_sku_type">
									@(Model.Type == 0 ? "众语课程" : "直播课")
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@(Localizer["上课方式"])</label>
								<div class="col-sm-8" id="div_sku_type">
									@Model.SkuType
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["总课时数"]</label>
								<div class="col-sm-8">
									@Model.ClassHour
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["已用课时数"]</label>
								<div class="col-sm-8">
									@Model.Classes
								</div>
							</div>
							<div class="form-group row">
								<label for="example-number-input" class="col-sm-3 col-form-label text-right">@Localizer["状态"]</label>
								<div class="col-sm-8">
									@switch (Model.Status)
									{
										case 1:
											@Localizer["启用"]
											break;
										case 0:
											@Localizer["禁用"]
											break;
										case 2:
											@Localizer["锁定"]
											break;
									}
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["备注"]</label>
								<div class="col-sm-8">
									<textarea asp-for="Message1" class="form-control" style="width:70%;height:94px;"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 ml-auto">
									<input asp-for="UserCourseid" type="hidden" />
									<button type="submit" class="btn btn-primary">@Localizer["保存信息"]</button>
								</div>
							</div>
							<br>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["操作日志"]</label>
								<div class="col-sm-8">
									@Html.Raw(Model.Remarks)
								</div>
							</div>
						</div>

                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</form>

@section Scripts{
    <script>
		@Html.Raw(ViewBag.ScriptStr)
		$("#MenkeCourseId").change(function(){
			$.get("GetCourseSku?menke_courseid="+$(this).val(),function(data){
				$("#div_course_name").html(data.course_name);
				$("#div_sku_type").html(data.sku_type);
			});
		});
    </script>
}
