@using WeTalk.Web.ViewModels.User;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@section HeadCss{
	<link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row" >
	<div class="col-12">
		<div class="card">
			<div class="card-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <select class="form-control m-b" name="sel_type" id="sel_type">
                            <option value="">@Localizer["课程类型"]</option>
                            <option value="0">@Localizer["众语课程"]</option>
                            <option value="1">@Localizer["直播课"]</option>
                        </select>
                    </span>
					<span class="input-group-btn">
						<select class="form-control m-b" name="account" id="sel_status">
							<option value="">@Localizer["显示状态"]</option>
							<option value="0">@Localizer["禁用"]</option>
                            <option value="1">@Localizer["启用"]</option>
                            <option value="2">@Localizer["锁定"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
					</span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["学生手机(不填国家区号)"]" id="input_mobile" class="form-control" />
					</span>
					<span class="input-group-btn">
						<div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["开课起始时间"]" />
							<span class="input-group-addon">-</span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["开课结束时间"]" />
						</div>
					</span>
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
					</span>
				</div>
				<table id="table_view" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{

	<script src="@Url.Content("/assets/js/plugins/datapicker/bootstrap-datepicker.js")"></script>
	<script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

		var actionURL = "UserCourseReadData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL,
                    idField: 'UserCourseid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
					toolbar: [
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {
		                @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
							{ title: '选择', checkbox: true, field: 'id', width: 30, sortable: true },
							{ title: 'ID', field: true, field: 'UserCourseid', width: 30, sortable: true },
							{ title: '@Localizer["课程类型"]', field: 'Type', width: 40, sortable: true, formatter: function (value, row) {
                                var e=''; 
                                switch (value) {
                                    case 1:
                                            e = '@Localizer["直播课"]';
                                        break;
                                    case 0:
                                            e = '@Localizer["众语课程"]';
                                        break;
                                    } 
                                    return e;
                                }
                            },
							{ title: '@Localizer["对应订单号"]', field: 'OrderSn', width: 80 },
							{ title: '@Localizer["学生姓名"]', field: 'Name', width: 40 },
							{ title: '@Localizer["学生手机"]', field: 'Mobile', width: 60 },
							{ title: '@Localizer["拓课云课程名称"]', field: 'MenkeName', width: 100, sortable: true},
                            { title: '@Localizer["学生课程名称"]', field: 'Title', width: 100, sortable: true },
							{ title: '@Localizer["上课方式"]', field: 'SkuType', width: 50},
							{ title: '@Localizer["总课时"]', field: 'ClassHour', width: 40 },
							{ title: '@Localizer["已用课时"]', field: 'Classes', width: 40, sortable: true },
							{ title: '@Localizer["状态"]', field: 'Status', width: 40, sortable: true, formatter: function (value, row) {
                                var e=''; 
                                switch (value) {
                                    case 2:
                                        e = '<font color="red">@Localizer["已锁定"]</font>';
                                        break;
                                    case 1:
                                        e = '<font color="green">@Localizer["已启用"]</font>';
                                        break;
                                    case 0:
                                        e = '<font color="red">@Localizer["禁用"]</font>';
                                        break;
                                    } 
                                    return e;
                                }
                            },
                            {
                                title: '@Localizer["试听课"]', field: 'Istrial', width: 30, formatter: function (value, row) {
                                    var e = '';
                                    if (value == 1) {
                                        e = '<font color="red">@Localizer["试听"]</font>';
                                    } else {
                                        e = "@Localizer["正式"]";
                                    }
                                    return e;
                                }
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 60, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editrow(' + row.UserCourseid + ');"><i class="fas fa-book-open text-info font-16"></i></a> ';
                                    return e;
                                }
                            }
                        ]]
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                        //alert('before refresh');
                    }
                });

            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    keys: $('#input_keys').val(),
                    mobile: $('#input_mobile').val(),
                    status: $('#sel_status').val(),
                    type: $('#sel_type').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            editrow: function (id) {
                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改学生课程"]"
                    });
                    $('#win').html("<iframe id='if1' src='UserCourseReadAdd?UserCourseid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]');
                }
            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
	</script>
}
