@using WeTalk.Interfaces;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@section HeadCss{
	<link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row" >
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="input-group">
					<span class="input-group-btn">
						<select class="form-control m-b" name="sel_status" id="sel_status">
							<option value="">@Localizer["状态"]</option>
							<option value="0">@Localizer["待审核"]</option>
							<option value="1">@Localizer["已同意"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<select class="form-control m-b" name="" id="sel_sty">
							<option value="">@Localizer["申请类型"]</option>
							<option value="0">@Localizer["试听申请"]</option>
                            <option value="1">@Localizer["咨询"]</option>
                            <option value="2">@Localizer["排课申请"]</option>
						</select>
                    </span>
                    <span class="input-group-btn">
                        <select class="form-control m-b" name="" id="sel_lecture_lang">
                            <option value="">@Localizer["授权语言"]</option>
                            <option value="zh-cn">@Localizer["普通话"]</option>
                            <option value="en">@Localizer["英语"]</option>
                        </select>
                    </span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
					</span>
					<span class="input-group-btn">
						<div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["申请起始时间"]" />
							<span class="input-group-addon"> - </span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["申请结束时间"]" />
						</div>
					</span>
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
					</span>
				</div>
				<table id="table_view" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{

	<script src="@Url.Content("/assets/plugins/datapicker/bootstrap-datepicker.js")"></script>
	<script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

		var actionURL = "ApplyReadData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL,
                    idField: 'CourseApplyid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
					toolbar: [
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {
		                @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
							{ title: '选择', checkbox: true, field: 'id', width: 30, sortable: true },
                            { title: 'ID', field: true, field: 'CourseApplyid', width: 50, sortable: true },
                            {title: '@Localizer["申请类型"]', field: 'StyStr', width: 60, sortable: true},
                            { title: '@Localizer["注册情况"]', field: 'IsReg', width: 60, sortable: true, formatter: function (value, row) {
                                    var e = '';//
                                    switch (value) {
                                        case 0:
                                            e = "<font color=red>@Localizer["未注册"]</font>";
                                            break;
                                        case 1:
                                            e = "<font color=green>@Localizer["已注册"]</font>";
                                            break;
                                    }
                                    return e;
                                } },
							{ title: '@Localizer["手机"]', field: 'ContactMobile', width: 100, sortable: true },
							{ title: '@Localizer["邮箱"]', field: 'ContactEmail', width: 150, sortable: true },
							{ title: '@Localizer["申请时间"]', field: 'Dtime', width: 120, sortable: true },
							{ title: '@Localizer["试听语种"]', field: 'LectureLang', width: 80, sortable: true },
							{ title: '@Localizer["申请/咨询课程"]', field: 'CourseName', width: 200, sortable: true },
							{ title: '@Localizer["已排课节"]', field: 'MenkeLessonName', width: 200, sortable: true },
							{ title: '@Localizer["老师"]', field: 'TeacherName', width: 100, sortable: true },
							{ title: "@Localizer["老师电话"]", field: 'TeacherMobile', width: 100, sortable: true },
							{ title: '@Localizer["状态"]', field: 'Status', width: 60, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 0:
                                            e = "<font color=red>@Localizer["待审核"]</font>";
                                            break;
                                        case 1:
                                            e = "<font color=green>@Localizer["已同意"]</font>";
                                            break;
                                        case 2:
                                            e = "@Localizer["缺课"]";
                                            break;
                                        case 3:
                                            e = "@Localizer["已拒绝"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                }
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 100, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" title="查阅" class="edit mr-2" onclick="mainGrid.editrow(' + row.CourseApplyid + ',\''+ row.StyStr +'\');"><i class="fas fa-book-open text-info font-16"></i></a> ';
                                    
                                    return e;
                                }
                            }
                        ]]
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                        //alert('before refresh');
                    }
                });
            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    keys: $('#input_keys').val(),
                    status: $('#sel_status').val(),
                    sty: $('#sel_sty').val(),
                    lecture_lang: $('#sel_lecture_lang').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            editrow: function (id,stystr) {

                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["查阅"]"+stystr
                    });
                    $('#win').html("<iframe id='if1' src='ApplyReadAdd?CourseApplyid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
	</script>
}
