@using WeTalk.Web.ViewModels.System;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer

@section HeadCss{
	<link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row" >
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="input-group">
					<span class="input-group-btn">
						<select class="form-control m-b" name="sel_status" id="sel_status">
							<option value="">@Localizer["状态"]</option>
							<option value="0">@Localizer["停用"]</option>
							<option value="1">@Localizer["启用"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
					</span>
					<span class="input-group-btn">
						<div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["创建起始时间"]" />
							<span class="input-group-addon"> - </span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["创建结束时间"]" />
						</div>
					</span>
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
					</span>
				</div>
				<table id="table_view" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{
    
	<script type="text/javascript" src="/assets/js/datagrid-detailview.js"></script>
	<script src="@Url.Content("/assets/plugins/datapicker/bootstrap-datepicker.js")"></script>
	<script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });
        

		var actionURL = "ListData";
        var actionSubURL="ListSubData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL,
                    idField: 'Courseid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    autoRowHeight:true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
					toolbar: [{
                        id: 'add',
                        text: '@Localizer["添加"]',
                        iconCls: 'icon-add',
                        handler: function () {
                            mainGrid.add();
                        }
                    }, '-',{
                        id: 'enableu',
                        text: '@Localizer["启用"]',
                        iconCls: 'icon-ok',
                        handler: function () {
							mainGrid.enableu();
                        }
                    }, '-', {
                        id: 'enablef',
                        text: '@Localizer["停用"]',
						iconCls: 'icon-ban',
                        handler: function () {
							mainGrid.enablef();
                        }
                    }
      //              , '-', {
      //                  id: 'del',
      //                  text: '@Localizer["删除"]',
						//iconCls: 'icon-remove',
      //                  handler: function () {
						//	mainGrid.del();
      //                  }
      //              }
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {                        
                        @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
                            { title: '',field: "_id" ,width:'30',expander:true},
							{ title: '@Localizer["选择"]', checkbox: true, field: 'id', width: 30, sortable: true },
							{ title: 'ID', field: true, field: 'Courseid', width: 50, sortable: true },
							{ title: '@Localizer["课程名称"]', field: 'Title', width: 300, sortable: true },
							{
								title: '@Localizer["缩略图"]', field: true, field: 'Img', width: 150,  formatter: function (value, row) {
									var e = '<a href="'+value+'" target="_blank"><img src="'+ value +'" width=\"150\"></a> ';
									return e;
								}
                            },
                            {
                                title: '@Localizer["课程组"]', field: 'GroupName', align: 'center', width: 100, formatter: function (value, row) {
                                    var e = '<a href="CourseGroup?Courseid='+ row.Courseid +'" target="_blank">[@Localizer["设置课程组"]]</a> ';
                                    return e;
                                }
                            },
                            {
                                title: '@Localizer["子课程"]', field: 'CourseGroupInfo', align: 'center', width: 100, formatter: function (value, row) {
                                    var e = '<a href="CourseGroupInfo?Courseid='+ row.Courseid +'" target="_blank">[@Localizer["设置子课程"]]</a> ';
                                    return e;
                                }
                            },
							{ title: '@Localizer["排序"]', field: 'Sort', width: 60, sortable: true },
							{ title: '@Localizer["发布时间"]', field: 'Sendtime', width: 120, sortable: true },
							{ title: '@Localizer["创建时间"]', field: 'Dtime', width: 120, sortable: true },
							{ title: 'SKU', field: 'SkuAdd', width: 100, sortable: true, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" onclick="mainGrid.addrow(' + row.Courseid + ');">@Localizer["添加"]SKU</a> ';
                                    return e;
                                } 
                            },
							{ title: '@Localizer["状态"]', field: 'Status', width: 60, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 0:
                                            e = "@Localizer["停用"]";
                                            break;
                                        case 1:
                                            e = "@Localizer["启用"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 60, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editrow(' + row.Courseid + ');"><i class="fas fa-edit text-info font-16"></i></a> ';
                                    e += '<a href="javascript:void(0);" onclick="mainGrid.delrow(' + row.Courseid + ')"><i class="fas fa-trash-alt text-danger font-16"></i></a>';
                                    return e;
                                }
                            }
                        ]],
                    view: detailview,
		            detailFormatter:function(index,row){
			            return '<div style="padding:1px"><table id="ddv" class="ddv"></table></div>';
		            },
		            onExpandRow: function(index,row){
			            var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');			           
		                var rows = $('#'+fillDataContralId).datagrid('getRows');
		                $.each(rows,function(i,k){
		                    //获取当前所有展开的子网格
		                    var expander = $('#'+fillDataContralId).datagrid('getExpander',i);
		                    if(expander.length && expander.hasClass('datagrid-row-collapse')){
		                        if(k.id != row.id){
		                            //折叠上一次展开的子网格
		                            $('#'+fillDataContralId).datagrid('collapseRow',i);
		                        }
		                    }
		                });
			            ddv.datagrid({
				            url:actionSubURL + '?Courseid='+row.Courseid,
				            fitColumns:true,
				            singleSelect:true,
				            rownumbers:true,
                            autoRowHeight:true,
				            loadMsg:'@Localizer["正在加载"]...',
				            height:'auto',
				            columns:[[
                                { field: 'CourseSkuid', title: '@Localizer["课程"]SkuID', width: 60, align: 'center' },
                                //{ field: 'MenkeCourseId', title: '@Localizer["拓课云课程"]ID', width: 60, align: 'center' },
                                //{ field: 'MenkeCourseName', title: '@Localizer["拓课云课程"]', width: 200, align: 'center' },
						        { field: 'Type',title:'@Localizer["上课方式"]',width:100,align:'center'},
						        { field: 'ClassHour',title:'@Localizer["课时数"]',width:100,align:'center'},
                                //{ field: 'MarketPrice', title: '@Localizer["默认原价"] (USD)', width: 100, align: 'center' },
                                //{ field: 'Discount', title: '@Localizer["默认折扣"]', width: 40, align: 'center', formatter: function (value, row) {
                                //    if(row.MarketPrice>0){
                                //        return (row.Price/row.MarketPrice).toFixed(2);
                                //    }else{
                                //        return 1;
                                //    }
                                //} },
                                //{ field: 'Price', title: '@Localizer["默认售价"] (USD)', width: 100, align: 'center' },
                                { field: 'Sort', title: '@Localizer["排序字段"]', width: 40, align: 'center' },
						        { field: 'PriceList',title:'@Localizer["各国价格"]',width:350,align:'center'},
                                {
                                    field: 'operation', title: '@Localizer["操作"]',align: 'center', width: 60, formatter: function (value, row) {
                                        var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editsubrow(' + row.CourseSkuid + ');"><i class="fas fa-edit text-info font-16"></i></a> ';
                                        e += '<a href="javascript:void(0);" onclick="mainGrid.delsubrow(' + row.CourseSkuid + ')"><i class="fas fa-trash-alt text-danger font-16"></i></a>';
                                        return e;
                                    }
                                }
				            ]],
				            onResize:function(){
					            $('#'+fillDataContralId).datagrid('fixDetailRowHeight',index);//在加载成功时，获取父列表的明细高度，使其适应明显点开后的高度
				            },
				            onLoadSuccess:function(data){
					            setTimeout(function(){
						            $('#'+fillDataContralId).datagrid('fixDetailRowHeight',index);//在加载父列表明细成功时，获取此时整个列表的高度，使其适应变化后的高度，此时的索引
					            });
				            },
				            onCheck:function(rowIndex,rowData){
					            tData = ddv.datagrid('getData');
					            tempindexc = rowIndex;
					            ddvProgram = rowData;
				            }
			            });
			            $('#'+fillDataContralId).datagrid('fixDetailRowHeight',index);
		            }	
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                    }
                });
            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    type: "@ViewBag.Type",
                    keys: $('#input_keys').val(),
                    status: $('#sel_status').val(),
                    recommend: $('#sel_recommend').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            add: function () {

                $('#win').window({
                    width: $(window).width() * 0.8,
                    height: $(window).height() * 0.8,
                    modal: true,
                    title: "@Localizer["添加课程"]"
                });
                $('#win').html("<iframe id='if1' src='ListAdd'>");
                $('#win').window({
                    onResize: function () { //当面板关闭之前触发的事件
                        $("#win iframe").width($(this).width() - 15);
                        $("#win iframe").height($(this).height() - 15);
                    }
                });
            },
            addrow: function (Courseid) {
                $('#win').window({
                    width: $(window).width() * 0.8,
                    height: $(window).height() * 0.8,
                    modal: true,
                    title: "@Localizer["添加课程"]Sku"
                });
                $('#win').html("<iframe id='if1' style='width:100%;height:100%' src='ListSubAdd?Courseid=" + Courseid + "'>");
                $('#win').window({
                    onResize: function () { //当面板关闭之前触发的事件
                        $("#win iframe").width($(this).width() - 15);
                        $("#win iframe").height($(this).height() - 15);
                    }
                });
            },
            edit: function () {
                var rowdata = mainGrid.getSelected()
                if (rowdata) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改课程"]"
                    });
                    $('#win').html("<iframe id='if1' src='ListAdd?Courseid=" + rowdata.Courseid + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            editrow: function (id) {
                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改课程"]"
                    });
                    $('#win').html("<iframe id='if1' src='ListAdd?Courseid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            delrow: function (id) {
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (id > 0) {
                        $.get(actionURL + "?action=del&Courseids=" + id, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除课程"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
            del: function () {
                var Courseids = "0";
                var rowdata = mainGrid.getSelections();
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (rowdata.length > 0) {
                        for (var i = 0; i < rowdata.length; i++) {
                            Courseids = Courseids + "," + rowdata[i].Courseid;
                        }
                        $.get(actionURL + "?action=del&Courseids=" + Courseids, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除课程"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('请选择要修改的行。');
                    }
                }
            },
			enableu: function () {
				var Courseids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						Courseids = Courseids + "," + rowdata[i].Courseid;
					}
					$.get(actionURL + "?action=enableu&Courseids=" + Courseids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({
							title: '@Localizer["启用课程"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

			}, 
            enablef: function () {
				var Courseids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						Courseids = Courseids + "," + rowdata[i].Courseid;
					}
					$.get(actionURL + "?action=enablef&Courseids=" + Courseids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({ title: '@Localizer["禁用课程"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

            },
            editsubrow: function (id) {
                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改课程SKU"]"
                    });
                    $('#win').html("<iframe id='if1' src='ListSubAdd?CourseSkuid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            delsubrow: function (id) {
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (id > 0) {
                        $.get(actionSubURL + "?action=del&CourseSkuid=" + id, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#ddv').datagrid('reload');
							$.messager.show({ title: '@Localizer["删除课程SKU"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要删除的行"]。');
                    }
                }
            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
	</script>
}
