@using WeTalk.Interfaces;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LangResource> Localizer
@using WeTalk.Web.ViewModels.Course;
@model RecordInfoListAdd
@section HeadCss{
	<link href="/assets/css/plugins/datapicker/bootstrap-datetimepicker.css" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/switchery/switchery.css")" rel="Stylesheet" type="text/css" />

}
<form asp-action="RecordInfoListAdd" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
                @await Component.InvokeAsync("LanguageTag", new { lang = Model.Lang })
				<div class="card-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["视频名称"]<i class="mdi mdi-google-translate"></i></label>
								<div class="col-sm-8">
									<input asp-for="Title" class="form-control" required type="text">
								</div>
							</div>
                            <div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["视频时长"]</label>
                                <div class="col-sm-8">
                                    <div class="input-group" id="time1">
										<input asp-for="Duration" class="form-control datetimepicker" type="text" >
									</div>
                                </div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["学习人数"]</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input asp-for="ViewCount" class="form-control" type="number" step="1">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["视频"]</label>
								<div class="col-sm-8" style="padding-top:7px;">
									<input asp-for="Video" class="form-control" type="hidden" />
									<span>
										@if (!string.IsNullOrEmpty(Model.Video))
										{
											<a href="@Model.Video" target="_blank">@Model.Video</a>
										}
										else
										{
											<font>@Localizer["暂无"]</font>
										}
									</span><br /><br />
									<span onclick="uploadfile();" data-repeater-delete="" class="btn btn-dark btn-sm">
										<span class="fa fa-plus"></span> @Localizer["上传视频"]
									</span>
									<span onclick="delfile();" data-repeater-delete="" class="btn btn-dark btn-sm">
										<span class="far fa-trash-alt mr-1"></span> @Localizer["删除视频"]
									</span>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-number-input" class="col-sm-3 col-form-label text-right">@Localizer["创建时间"]</label>
								<div class="col-sm-8">
									@Model.Dtime
								</div>
							</div>
							<div class="form-group row">
								<label for="example-number-input" class="col-sm-3 col-form-label text-right">@Localizer["排序"]</label>
								<div class="col-sm-8">
									<input asp-for="Sort" class="form-control" required type="number">
									<span class="help-block m-b-none"><i class="fa fa-info-circle"></i>@Localizer["排序字段从小到大排序"]</span>
									<span class="help-block m-b-none"><i class="fa fa-info-circle"></i>@Localizer["排序字段值相同的情况下,按最新时间发布的排最前面"]</span>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-email-input" class="col-sm-3 col-form-label text-right">@Localizer["状态"]</label>
								<div class="col-sm-8">
									<select asp-for="Status" class="form-control">
										<option value="1">@Localizer["启用"]</option>
										<option value="0">@Localizer["停用"]</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 ml-auto">
									<input asp-for="RecordCourseInfoid" type="hidden" />
									<input asp-for="RecordCourseid" type="hidden" />
                                    <input asp-for="Lang" type="hidden" />
									<button type="submit" class="btn btn-primary dictionaryadd dictionaryedit" id="btn_save">@Localizer["保存信息"]</button>
								</div>
							</div>
						</div>

					</div>
				</div><!--end card-body-->
			</div><!--end card-->
		</div><!--end col-->
	</div><!--end row-->
	
<div id="win1" />
</form>
@section Scripts{
	<!-- Required datatable js -->
	<script type="text/javascript" src="@Url.Content("/assets/js/jquery.easyui.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/assets/plugins/datapicker/bootstrap-datetimepicker.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/switchery/switchery.js")"></script>
	<script src="@Url.Content("/assets/plugins/select2/select2.min.js")"></script>

	<script type="text/javascript">
		@Html.Raw(ViewBag.ScriptStr)
		var str = "";
		document.writeln("<div id=\"_contents\" style=\"padding:6px; background-color:#E3E3E3; font-size: 12px; border: 1px solid #777777;  position:fixed; z-index: 9999; left:?px; top:?px; width:?px; height:?px; z-index:1; visibility:hidden\">");
		str += "\u65f6<select name=\"_hour\">";
		for (h = 0; h <= 9; h++) {
			str += "<option value=\"0" + h + "\">0" + h + "</option>";
		}
		for (h = 10; h <= 23; h++) {
			str += "<option value=\"" + h + "\">" + h + "</option>";
		}
		str += "</select> \u5206<select name=\"_minute\">";
		for (m = 0; m <= 9; m++) {
			str += "<option value=\"0" + m + "\">0" + m + "</option>";
		}
		for (m = 10; m <= 59; m++) {
			str += "<option value=\"" + m + "\">" + m + "</option>";
		}
		str += "</select> \u79d2<select name=\"_second\">";
		for (s = 0; s <= 9; s++) {
			str += "<option value=\"0" + s + "\">0" + s + "</option>";
		}
		for (s = 10; s <= 59; s++) {
			str += "<option value=\"" + s + "\">" + s + "</option>";
		}
		str += "</select> <input name=\"queding\" type=\"button\" onclick=\"_select()\" value=\"\u786e\u5b9a\" style=\"font-size:12px\" /></div>";
		document.writeln(str);
		var _fieldname;
		function _SetTime(tt) {
			_fieldname = tt;
			//var ttop = tt.offsetTop;    //TT控件的定位点高
			//var thei = tt.clientHeight;    //TT控件本身的高
			//var tleft = tt.offsetLeft;    //TT控件的定位点宽
			//while (tt = tt.offsetParent) {
			//	ttop += tt.offsetTop;
			//	tleft += tt.offsetLeft;
			//}
			//console.log("aaa");
			let rect = tt.getBoundingClientRect();
			console.log(rect)
			document.all._contents.style.top = rect.bottom+'px';
			document.all._contents.style.left = rect.left + "px";
			document.all._contents.style.visibility = "visible";
		}
		function _select() {
			_fieldname.value = document.all._hour.value + ":" + document.all._minute.value + ":" + document.all._second.value;
			document.all._contents.style.visibility = "hidden";
		}
		$(".datetimepicker").click(function () { _SetTime(this); });
		
		$(document).ready(function () {
			$('.datetimepicker1').datetimepicker({
				//language: 'zh-CN',//显示中文
				forceParse: true,
				format: 'hh:ii:ss',//显示格式
				initialDate: new Date().Format("yyyy-MM-dd hh:mm:ss"),
				autoclose: true,//选中自动关闭
				todayBtn: true,//显示今日按钮*/
				minuteStep: 1
			});
		});

		function uploadfile() {
			$('#win1').window({
				width: $(window).width() * 0.8,
				height: $(window).height() * 0.8,
				modal: true,
				title: "@Localizer["大文件上传"]"
			});
			$('#win1').html("<iframe id='if1' src='../FileUpload/Index?fileCount=1&oss={img}&uploadDir=Upfile/News/&obj=Video'>");
		}
		function delfile() {
			if (confirm("确定要删除吗?") & $("#Video").val().length > 1) {
				$.post("../FileUpload/FileDel", { img: $("#Video").val() }, function (data) {
					$("#Video").next().html("@Localizer["暂无"]");
					$("#Video").val("");
					if (data.status != 0) {
						alert(data.msg);
					}
				});
			}
		}

	</script>
}
