@using WeTalk.Web.ViewModels.Course;
@using WeTalk.Interfaces;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LangResource> Localizer
@model SetPage
@section HeadCss{
	<link href="/assets/css/plugins/datapicker/bootstrap-datetimepicker.css" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/switchery/switchery.css")" rel="Stylesheet" type="text/css" />

	<script src="/editor-page/app/resource/script/jquery.min.js"></script>
	<script src="/editor-page/lib/jsmoEditor.umd.min.js"></script>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			box-sizing: border-box;
			padding-top: 10px;
			background: #fff;
		}
		.editor-container {
			position: relative;
			min-height: 500px;
			margin: 0 auto;
			border: 1px solid rgb(245 245 245);
		}
	</style>
}
<form asp-action="SetPage" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
                @await Component.InvokeAsync("LanguageTag", new { lang = Model.Lang })
				<div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
							<!-- 加载编辑器的容器 -->
							<div class="editor-container"></div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-sm-12 text-center">
							<input asp-for="CourseGroupInfoid" type="hidden" />
							<input asp-for="Sty" type="hidden" />
                            <input asp-for="Content" class="form-control" type="hidden">
							<input asp-for="Lang" class="form-control" type="hidden">
							<button type="submit" class="btn btn-primary dictionaryadd dictionaryedit" id="btn_save">@Localizer["保存信息"]</button>
						</div>
					</div>
				</div><!--end card-body-->
			</div><!--end card-->
		</div><!--end col-->
	</div><!--end row-->
</form>

@section Scripts{
	<!-- Required datatable js -->
	<script type="text/javascript" src="@Url.Content("/assets/js/jquery.easyui.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("/assets/plugins/datapicker/bootstrap-datetimepicker.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/switchery/switchery.js")"></script>
	
	<script type="text/javascript">
		 $(function(){          
			$(".editor-container").each((i, dom) => {
				jsmoEditor
					.createPageEditor(dom, {
						appName: "custom",
						// 指向 app 文件夹的路径,执行文件所在
						appPath: "/editor-page/app/",
						editorData: "@Html.Raw(Model.EncryptData)",
						// 是否开启线上页面库
						pageShop: false,
						// 是否允许上传代码
						removeUpload: false,
						// 模块管理
						moduleLib: {
							// 是否开启线上模块库
							online: false,
							// type: "MODULES" | "MODULES_FOOTER";
							type: "MODULES",
						},
						uploadConfig:{
       						uploadPath: "/Api/EditPage/UploadFile",
       						resourceLink: "",
       						uploadName: "Filedata",
       						uploadData: {},
       						imageDataPath: "data",
       						uploadFileExt: ["jpg", "png", "gif", "jpeg"],
       						imageUploadSize: "1024",
       						uploadFileSize: "2048",
   						},
						// 上传相关参数配置
						// uploadConfig: {
						//     uploadPath: string; //API路径
						//     uploadName: string; //上传FILE控件名，
						//     publicPath: string; //
						//     resourceLink: string; //资源链接的域名
						//     uploadFileSize: number;//上传文件大小限制
						//     uploadFileExt: string[];
						//     uploadData: { [key: string]: string };//自定义的参数，随图上传时附上
						//     imageUploadSize: number;//上传图片大小限制
						//     imageDataPath: number;//返回的KEY名
						// },
						on: {
							saveEditor({ data, encrypt_data }) {
								console.log(encrypt_data);
								$("#Content").val("{\"encrypt_data\":" + JSON.stringify(encrypt_data) + ",\"data\":"+ JSON.stringify(data) +"}");
							},
						},
					}).init();
			}); 
        });
		@Html.Raw(ViewBag.ScriptStr)
	</script>
}
