@using WeTalk.Web.ViewModels.System;
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@model MenuFunction
@section HeadCss{
	<!-- DataTables -->
	<link href="@Url.Content("/assets/plugins/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("/assets/plugins/datatables/buttons.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
	<!-- Responsive datatable examples -->
	<link href="@Url.Content("/assets/plugins/datatables/responsive.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
	<link href="/assets/css/icon.css" rel="stylesheet" />
}

<div class="row" style="padding-top:10px;">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table id="table_view" class="easyui-datagrid" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{
	<!-- Required datatable js -->
	<script src="@Url.Content("/assets/plugins/datatables/jquery.dataTables.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/dataTables.bootstrap4.min.js")"></script>
	<!-- Buttons examples -->
	<script src="@Url.Content("/assets/plugins/datatables/dataTables.buttons.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/buttons.bootstrap4.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/jszip.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/pdfmake.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/vfs_fonts.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/buttons.html5.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/buttons.print.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/buttons.colVis.min.js")"></script>
	<!-- Responsive examples -->
	<script src="@Url.Content("/assets/plugins/datatables/dataTables.responsive.min.js")"></script>
	<script src="@Url.Content("/assets/plugins/datatables/responsive.bootstrap4.min.js")"></script>
	<script src="@Url.Content("/assets/pages/jquery.datatable.init.js")"></script>

	<script>
        //$('.tablelist tbody tr:odd').addClass('odd');

        var actionURL = "MenuFunctionData";
        var fillDataContralId = "table_view";
		var mainGrid = {
			databind: function () {
				/*开始加载数据*/
				$('#' + fillDataContralId).treegrid({
					url: actionURL+'?AdminMenuid=@Model.AdminMenuid',
					idField: 'AdminMenuFunctionid', //主键
					width: (($(window).width() - 60) * 0.98),
					height: (($(window).height() - 50) * 0.98),
					fitColumns: true,
					singleSelect: false, //单选
					pageList: [10, 20, 50, 100],
					pageSize: 20,
					pagination: true,
					toolbar: [ {
						text: '@Localizer["删除"]',
						iconCls: 'icon-no',
						handler: function () {
							mainGrid.del();
						}
					}],
					onDblClickRow: function (rowIndex, rowData) {
						mainGrid.edit();
					},
                    onLoadSuccess: function () {
						@Html.Raw(ViewBag.ScriptStr)
                    },
					treeField: 'Title',
					columns: [[
						{ title: '@Localizer["选择"]', checkbox: true, field: 'check', width: 30, sortable: true },
						{ title: 'ID', field: 'AdminMenuFunctionid', width: 30, sortable: true },
						{ title: '@Localizer["操作页"]', field: 'IsPage', width: 60, sortable: true },
						{ title: '@Localizer["控件名称"]', field: 'Title', width: 250, sortable: true },
						{ title: '@Localizer["控件ID"]', field: 'ControlId', width: 100, sortable: true },
						{ title: '@Localizer["控件方法名"]', field: 'FunctionName', width: 100, sortable: true },
						{ title: '@Localizer["授权区域"]', field: 'Area', width: 150, sortable: true },
						{ title: '@Localizer["授权控制器"]', field: 'Controller', width: 100, sortable: true },
						{ title: '@Localizer["授权动作"]', field: 'Action', width: 100, sortable: true },
						{ title: '@Localizer["请求方式"]', field: 'Method', width: 100, sortable: true },
						{
							title: '@Localizer["添加子控件"]', field: 'add', width: 100,  formatter: function (value, row) {
								var e = '';
								if (value.length > 0) {
									e = '<a href="javascript:void(0);" onclick="mainGrid.addrow(' + row.AdminMenuFunctionid + ');">@Localizer["添加"]</a> ';
								}
								return e;
							}
						},
						{ title: '@Localizer["创建时间"]', field: 'Dtime', width: 120, sortable: true },
						{ title: '@Localizer["排序"]', field: 'Sort', width: 60, sortable: true },
						{
							title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 80, formatter: function (value, row) {
                                var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editrow(' + row.Fid + ',' + row.AdminMenuFunctionid +');"><i class="fas fa-edit text-info font-16"></i></a> ';
                                e += '<a href="javascript:void(0);" onclick="mainGrid.delrow(' + row.AdminMenuFunctionid + ')"><i class="fas fa-trash-alt text-danger font-16"></i></a>';
								return e;
							}
						}
					]]
				});

			},
			getSelected: function () {
				return $('#' + fillDataContralId).datagrid('getSelected');
			},
			getSelections: function () {
				return $('#' + fillDataContralId).treegrid('getSelections');
			},
			Reflesh: function () {
				$('#' + fillDataContralId).datagrid("reload");
			},
			GetSelectedRow: function () {
				return $('#' + fillDataContralId).treegrid('getSelected');
			},
			doSearch: function () {
				$('#' + fillDataContralId).treegrid('clearSelections');
				$('#' + fillDataContralId).treegrid('load', {
					keys: $('#input_keys').val(),
					status: $('#sel_status').val()
				});
			},
			add: function () {
				$('#win').window({
					width: $(window).width() * 0.8,
					height: $(window).height() * 0.8,
					modal: true,
					title: "@Localizer["添加功能控制项"]"
				});
				$('#win').html("<iframe id='if1' src='MenuFunctionAdd?AdminMenuid=@Model.AdminMenuid'>");
				$('#win').window({
					onResize: function () { //当面板关闭之前触发的事件
						$("#win iframe").width($(this).width() - 15);
						$("#win iframe").height($(this).height() - 15);
					}
				});
			},
			addrow: function (index) {
				$('#' + fillDataContralId).treegrid('select', index);
				var rowdata = mainGrid.getSelected();
				$('#win').window({
					width: $(window).width() * 0.8,
					height: $(window).height() * 0.8,
					modal: true,
					title: "@Localizer["添加功能控制项"]"
				});
				$('#win').html("<iframe id='if1' src='MenuFunctionAdd?AdminMenuid=@Model.AdminMenuid&Fid=" + rowdata.AdminMenuFunctionid + "'>");
				$('#win').window({
					onResize: function () { //当面板关闭之前触发的事件
						$("#win iframe").width($(this).width() - 15);
						$("#win iframe").height($(this).height() - 15);
					}
				});
			},
			edit: function () {
				var rowdata = mainGrid.getSelected()
				if (rowdata.fid == 0) {
					alert("@Localizer["菜单默认基础查询功能不允许编辑"]");
					return;
				}
				if (rowdata) {
					$('#win').window({
						width: $(window).width() * 0.8,
						height: $(window).height() * 0.8,
						modal: true,
						title: "@Localizer["修改功能控制项"]"
					});
					$('#win').html("<iframe id='if1' src='MenuFunctionAdd?AdminMenuid=@Model.AdminMenuid&AdminMenuFunctionid=" + rowdata.AdminMenuFunctionid + "'>");
					$('#win').window({
						onResize: function () { //当面板关闭之前触发的事件
							$("#win iframe").width($(this).width() - 15);
							$("#win iframe").height($(this).height() - 15);
						}
					});
				} else {
					alert('@Localizer["请选择要修改的行"]');
				}
			},
			editrow: function (fid, AdminMenuFunctionid) {
				if (fid == 0) {
					alert("@Localizer["菜单默认基础查询功能不允许编辑"]!");
					return;
				}
				if (AdminMenuFunctionid) {
					$('#win').window({
						width: $(window).width() * 0.8,
						height: $(window).height() * 0.8,
						modal: true,
						title: "@Localizer["修改功能控制项"]"
					});
					$('#win').html("<iframe id='if1' src='MenuFunctionAdd?AdminMenuid=@Model.AdminMenuid&AdminMenuFunctionid=" + AdminMenuFunctionid + "'>");
					$('#win').window({
						onResize: function () { //当面板关闭之前触发的事件
							$("#win iframe").width($(this).width() - 15);
							$("#win iframe").height($(this).height() - 15);
						}
					});
				} else {
					alert('@Localizer["请选择要修改的行"]');
				}
			},
			del: function () {
                var AdminMenuFunctionids="0";
				var rowdata = mainGrid.getSelections();
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (rowdata.length>0) {
                        for(var i=0;i<rowdata.length;i++){
                            AdminMenuFunctionids=AdminMenuFunctionids+","+rowdata[i].AdminMenuFunctionid;
						}
						$.get(actionURL + "?AdminMenuid=@Model.AdminMenuid&action=del&AdminMenuFunctionids=" + AdminMenuFunctionids, function (data) {
							var json = eval("(" + data + ")");
							if (json.errorcode == 0) $('#' + fillDataContralId).treegrid('reload');
							$.messager.show({ title: '@Localizer["删除功能控制项"]', msg: json.msg, timeout: 3000, showType: 'slide' });
						});
					} else {
						alert('@Localizer["请选择要修改的行"]');
					}
				}
			}
		}
        $(function () {
            mainGrid.databind();
        });

        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });

        function showImg(value, index) {
            return '<img src="' + value + '" width="150" />';
        }
	</script>
}
