
@using Microsoft.AspNetCore.Mvc.Localization
@using WeTalk.Interfaces
@inject IHtmlLocalizer<LangResource> Localizer
@section HeadCss{
	<link href="@Url.Content("/assets/css/icon.css")" rel="stylesheet" />
	<link href="@Url.Content("/assets/css/plugins/datapicker/datepicker3.css")" rel="stylesheet" />
}

<div class="row" >
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="input-group">
					<span class="input-group-btn">
						<select class="form-control m-b" name="sel_status" id="sel_status">
							<option value="">@Localizer["状态"]</option>
							<option value="0">@Localizer["停用"]</option>
							<option value="1">@Localizer["启用"]</option>
						</select>
					</span>
					<span class="input-group-btn">
						<input type="text" placeholder="@Localizer["关键词"]" id="input_keys" class="form-control" />
					</span>
					<span class="input-group-btn">
						<div class="input-daterange input-group">
							<input type="text" id="input_begintime" class="input-sm form-control datepicker" name="start" placeholder="@Localizer["创建起始时间"]" />
							<span class="input-group-addon">-</span>
							<input type="text" id="input_endtime" class="input-sm form-control datepicker" name="end" placeholder="@Localizer["创建结束时间"]" />
						</div>
					</span>
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-info search" onclick="mainGrid.doSearch();"> <i class="fa fa-search"></i>@Localizer["搜索"]</button>
					</span>
				</div>
				<table id="table_view" />
			</div>
		</div>
	</div> <!-- end col -->
</div>
<div id="win" />

@section Scripts{

	<script src="@Url.Content("/assets/plugins/datapicker/bootstrap-datepicker.js")"></script>
	<script>
        $('.datepicker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

		var actionURL = "ListData";
        var fillDataContralId = "table_view";
        var mainGrid = {
            databind: function () {
                /*开始加载数据*/
                $('#' + fillDataContralId).datagrid({
                    url: actionURL,
                    idField: 'EmailTemplateid', //主键
                    width: (($(window).width()-60) * 0.98),
                    height: (($(window).height() - 70) * 0.98),
                    fitColumns: true,
                    singleSelect: false, //单选
                    pageList: [10, 20, 50, 100],
                    pageSize: 20,
                    pagination: true,
					toolbar: [
                    {
                        id: 'add',
                        text: '@Localizer["添加"]',
                        iconCls: 'icon-add',
                        handler: function () {
                            mainGrid.add();
                        }
                    }, '-',
                    {
                        id: 'enableu',
                        text: '@Localizer["启用"]',
                        iconCls: 'icon-ok',
                        handler: function () {
							mainGrid.enableu();
                        }
                    }, '-', {
                        id: 'enablef',
                        text: '@Localizer["停用"]',
						iconCls: 'icon-ban',
                        handler: function () {
							mainGrid.enablef();
                        }
                    }
                    ],
                    onDblClickRow: function (rowIndex, rowData) {
                        if ($('#a_edit').size() > 0) {
                            mainGrid.edit();
                        }
                    },
                    onLoadSuccess: function () {
		                @Html.Raw(ViewBag.ScriptStr)
                    },
                    columns: [
                        [
							{ title: '选择', checkbox: true, field: 'id', width: 30, sortable: true },
							{ title: 'ID', field: true, field: 'EmailTemplateid', width: 50, sortable: true },
							{ title: '@Localizer["模板名称"]', field: 'TemplateName', width: 100, sortable: true },
							{ title: '@Localizer["模板代码"]', field: 'Code', width: 60, sortable: true },
							{ title: '@Localizer["语言版本"]', field: 'Lang', width: 60, sortable: true },
							{ title: '@Localizer["邮件标题"]', field: 'Title', width: 200, sortable: true },
							{ title: '@Localizer["创建时间"]', field: 'Dtime', width: 80, sortable: true },
							{ title: '@Localizer["状态"]', field: 'Status', width: 40, sortable: true, formatter: function (value, row) {
                                    var e = '';
                                    switch(value){
                                        case 0:
                                            e = "@Localizer["停用"]";
                                            break;
                                        case 1:
                                            e = "@Localizer["启用"]";
                                            break;
                                        case -1:
                                            e = "@Localizer["已删除"]";
                                            break;
                                    }
                                    return e;
                                } 
                            },
                            {
                                title: '@Localizer["操作"]', field: 'operation', align: 'center', width: 60, formatter: function (value, row) {
                                    var e = '<a href="javascript:void(0);" class="edit mr-2" onclick="mainGrid.editrow(' + row.EmailTemplateid + ');"><i class="fas fa-edit text-info font-16"></i></a> ';
                                    e += '<a href="javascript:void(0);" onclick="mainGrid.delrow(' + row.EmailTemplateid + ')"><i class="fas fa-trash-alt text-danger font-16"></i></a>';
                                    return e;
                                }
                            }
                        ]]
                });
                var p = $('#' + fillDataContralId).datagrid('getPager');
                $(p).pagination({
                    onBeforeRefresh: function () {
                        //alert('before refresh');
                    }
                });
            },
            getSelected: function () {
                return $('#' + fillDataContralId).datagrid('getSelected');
            },
            getSelections: function () {
                return $('#' + fillDataContralId).datagrid('getSelections');
            },
            Reflesh: function () {
                $('#' + fillDataContralId).datagrid("reload");
            },
            doSearch: function () {
                $('#' + fillDataContralId).datagrid('clearSelections');
                $('#' + fillDataContralId).datagrid('load', {
                    type: "@ViewBag.Type",
                    keys: $('#input_keys').val(),
                    status: $('#sel_status').val(),
                    recommend: $('#sel_recommend').val(),
                    begintime: $('#input_begintime').val(),
                    endtime: $('#input_endtime').val()
                });
            },
            add: function () {

                $('#win').window({
                    width: $(window).width() * 0.8,
                    height: $(window).height() * 0.8,
                    modal: true,
                    title: "@Localizer["添加邮件模板"]"
                });
                $('#win').html("<iframe id='if1' src='ListAdd'>");
                $('#win').window({
                    onResize: function () { //当面板关闭之前触发的事件
                        $("#win iframe").width($(this).width() - 15);
                        $("#win iframe").height($(this).height() - 15);
                    }
                });

                //PW.getWindow("MasterAdd?treeid=", '新增用户', 720, 438);
            },
            edit: function () {
                var rowdata = mainGrid.getSelected()
                if (rowdata) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改邮件模板"]"
                    });
                    $('#win').html("<iframe id='if1' src='ListAdd?EmailTemplateid=" + rowdata.EmailTemplateid + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            editrow: function (id) {

                if (id) {
                    $('#win').window({
                        width: $(window).width() * 0.9,
                        height: $(window).height() * 0.9,
                        modal: true,
                        title: "@Localizer["修改邮件模板"]"
                    });
                    $('#win').html("<iframe id='if1' src='ListAdd?EmailTemplateid=" + id + "&dtime=" + new Date() + "'>");
                    $('#win').window({
                        onResize: function () { //当面板关闭之前触发的事件
                            $("#win iframe").width($(this).width() - 15);
                            $("#win iframe").height($(this).height() - 15);
                        }
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }
            },
            delrow: function (id) {
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (id > 0) {
                        $.get(actionURL + "?action=del&EmailTemplateids=" + id, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除邮件模板"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
            del: function () {
                var EmailTemplateids = "0";
                var rowdata = mainGrid.getSelections();
                if (confirm("@Localizer["您确定要删除"]?")) {
                    if (rowdata.length > 0) {
                        for (var i = 0; i < rowdata.length; i++) {
                            EmailTemplateids = EmailTemplateids + "," + rowdata[i].EmailTemplateid;
                        }
                        $.get(actionURL + "?action=del&EmailTemplateids=" + EmailTemplateids, function (data) {
                            var json = eval("(" + data + ")");
                            if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
							$.messager.show({ title: '@Localizer["删除邮件模板"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                        });
                    } else {
                        alert('@Localizer["请选择要修改的行"]。');
                    }
                }
            },
			enableu: function () {
				var EmailTemplateids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						EmailTemplateids = EmailTemplateids + "," + rowdata[i].EmailTemplateid;
					}
					$.get(actionURL + "?action=enableu&EmailTemplateids=" + EmailTemplateids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({
							title: '@Localizer["启用邮件模板"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

			}, enablef: function () {
				var EmailTemplateids = "0";
				var rowdata = mainGrid.getSelections();
				if (rowdata.length > 0) {
					for (var i = 0; i < rowdata.length; i++) {
						EmailTemplateids = EmailTemplateids + "," + rowdata[i].EmailTemplateid;
					}
					$.get(actionURL + "?action=enablef&EmailTemplateids=" + EmailTemplateids, function (data) {
                        var json = eval("(" + data + ")");
                        if (json.errorcode == 0) $('#' + fillDataContralId).datagrid('reload');
						$.messager.show({ title: '@Localizer["禁用邮件模板"]', msg: json.msg, timeout: 3000, showType: 'slide' });
                    });
                } else {
                    alert('@Localizer["请选择要修改的行"]。');
                }

            }
        }
        $(function () {
            mainGrid.databind();
        });
        //监听，页面变化重画宽高；
        $(window).resize(function () {
            $('#' + fillDataContralId).datagrid('resize', {
                width: function () { return document.body.clientWidth; },
                height: function () { return document.body.clientHeight; },
            });
        });
	</script>
}
